<app-modal-header
  [data]="modalHeader"
  (onAction)="close($event)"
></app-modal-header>
<div class="modal-body">
  <form name="productForm" [formGroup]="productForm">
    <div class="form-group">
      <label for="categoryId">categoryId</label>
<br/>
      <select formControlName="categoryId" id="categoryId">
        <option *ngIf="data" value="{{data.categoryId}}">{{data.categoryName}}</option>
        <ng-container *ngIf="dataCate" >
          <option *ngFor="let item of dataCate" value="{{item.id}}" >{{item.name}}</option>
        </ng-container>
        
        <option (click)="addValuesCategory()">...</option>
      </select>
      <br />
      <label for="supplierId">supplierId</label>
<br/>
      <select formControlName="supplierId" id="supplierId">
        <option *ngIf="data" value="{{data.supplierId}}">{{data.supplierName}}</option>
        <ng-container *ngIf="dataSupplier">
          <option *ngFor="let item of dataSupplier" value="{{item.id}}" >{{item.name}}</option>
        </ng-container>
        <option (click)="addValuesSupplier()">...</option>
      </select>
      <br />
      <label for="name">name</label>
      <input
        formControlName="name"
        type="text"
        class="form-control"
        id="name"
      />
      <br />
      <label for="description">description</label>
      <input
        multiple
        formControlName="description"
        type="text"
        class="form-control"
        id="description"
      />
      <br />
    </div>
  </form>
</div>
<app-modal-footer
  [data]="modalFooter"
  (onAction)="save($event)"
></app-modal-footer>
